* {
  background-image: none;
}

window {
  background-color: rgba(36, 39, 58, 0.7);
}

button {
  margin: 8px;
  color: #cad3f5;
  background-color: #363a4f;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:active,
button:focus,
button:hover {
  color: #8bd5ca;
  background-color: #24273a;
  outline-style: none;
}

#lock {
  background-image: image(url("~/.local/share/wlogout-icons/lock.png"));
}

#logout {
  background-image: image(url("~/.local/share/wlogout-icons/logout.png"));
}

#suspend {
  background-image: image(url("~/.local/share/wlogout-icons/suspend.png"));
}

#hibernate {
  background-image: image(url("~/.local/share/wlogout-icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("~/.local/share/wlogout-icons/shutdown.png"));
}

#reboot {
  background-image: image(url("~/.local/share/wlogout-icons/reboot.png"));
}
